// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-header {
    background: url('../assets/imgs/backhome.jpg') no-repeat transparent;
    background-size: cover;
	height: 40%;
    z-index: 1;
	border-radius: 0 0 10px 10px;
}
ion-title .toolbar-title {
	color: #ff0000;
	text-align: center;
	margin-top: 80px;
	font-size: 1.5em;
}
.toolbar-ios ion-title,
ion-title.title.title-md {
	padding: 0;
	position: relative;
	width: 100%;
}
.back-button.show-back-button {
	display: none;
}
.icon-gears {
	float: left;
	padding: 40px 0 0 40px;
}
.icon-gears img {
	width: 50px;
	height: 50px;
	border-radius: 5px;
}
.icon-menu {
	float: right;
	color: #fff;
	font-size: 2em;
	margin-top: 10px;
	padding: 40px 40px 0 0;
}
.clear {
	clear: both;
}