page-detalhe {
	.icon-back {
		position: relative;
		display: inline-block;
		top: 20px;
		width: 100%;
		color: #fff;
		font-size: 2em;
		text-align: center;
	}
	
	ion-title .toolbar-title {
		margin-top: 40px;
	}
	
	.div-curso {
		position: relative;
		top: 40%;
		margin: 30px;
		padding: 15px;
		border-radius: 8px;
		background-color: #fff;
		white-space: pre-line;
		font-size: 12px;
		line-height: 18px;
		color: #757575;
	}
	
	.fotos {
		float: left;
	}
	
	.fotos img {
		width: 100%;
		height: auto;
		border-radius: 6px;
	}
}
